.container {
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 100vh;
  width: 100vw;
  align-items: center;
  grid-template-columns: repeat(8, 10%);
  grid-template-rows: repeat(8, 10%);
  grid-gap: 1%;
  row-gap: 1%;
}

.box {
  background-color: #00e2ff;
  color: #df00ff;
  /* border-radius: 10px; */
  /*   padding: 10px; */
  /*   margin: 10px; */
  border: solid 5px red;
  text-align: center;
  line-height: 70px;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
  border: solid 5px blue;
  border-radius: 20%;
}

.box-easing {
  --ease-in-quad: cubic-bezier(0, 1.32, 0.85, 0.32);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: 75px;
  height: 75px;
  color: white;
  background: #333;
  transition: transform 1s var(--ease-out-quart);
}

.box-easing:hover {
  transform: rotate(45deg) scale(1.5);
}